@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --brand-1: #4C6EF5;
    --brand-2: #364FC7;
    --gray-1: #191C1F;
    --gray-2: #212529;
    --gray-3: #343A40;
    --gray-4: #ADB5BD;
    --gray-5: #CED4DA;
    --gray-6: #EDF2FF;
    --gray-7: #F8F9FA;

    --font-primary: "Inter", sans-serif;

    --font-size-title1: 52px;
    --font-size-title2: 40px;
    --font-size-title3: 32px;
    --font-size-text1: 20px;
    --font-size-text2: 18px;
    --font-size-text3: 16px;
    
    --font-line-heigth-text4: 24px;
}

